
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cover.css">
    <title>Samme Janderson</title>
    <link rel="shortcut icon" href="imgs/favicon.jpg" type="image/x-icon" />
</head>

<body class="text-justify flex justify-content-center">
<h1><a id="secretgame" class="btn btn-link " href="snake/snake.html" role="button"></a></h1>

<main role="main text-justify flex justify-content-center" class="inner cover"></main>
<h1 class="cover-heading"><img src="https://avatars0.githubusercontent.com/u/71139904?s=460&u=053e4ab44af4d7e1dfff928a7478f63d63553186&v=4" alt="" class="perfil"> </h1>
<p class="lead"><b>Samme janderson</b><br>
    Aspiring Backend Developer
</p>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown ">
    <a class="btn btn-secondary btn-lg" href="https://github.com/SammeJanderson" role="button"><i class="fab fa-github"></i>
    </a>
    <a class="btn btn-secondary btn-lg" href="https://www.linkedin.com/in/samme-janderson-0147311b7/" role="button"><i class="fab fa-linkedin"></i></a>
    <!-- <a class="btn btn-secondary btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
       Projects
     </a>   -->
</div>
<!--Collapse Contend-->
<!--<div class="collapse" id="collapseExample">
      <div class="card card-body">
       
        <ul class="list-unstyled">
          <li class="media">
            <img src="imgs/java.png" width="50" height="" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Java</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <li class="media my-4">
            <img src="imgs/javascript-19-555546.webp" width="50" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">JavaScript</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <li class="media">
            <img src="imgs/html5-icon-12119.png" width="50" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">HTML</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
        </ul>
              
      </div> -->








<!--Bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--FontsAwesome-->
<script src="https://kit.fontawesome.com/ac1459de8d.js" crossorigin="anonymous"></script>


</body>
</html>
